/** .color-primary-0 { color: #065986 } **/
$colorprincipal: #06D6A0;
/** .color-secondary-1-0 { color: #D2D000 } **/
$colorsecundario: #073B4C;
/** .color-terciario-2-0 { color: #9F006F } RGB: 159–0–111**/
$colorterciario: #118AB2;
/** background-color: #ffffff; **/
$colorbackgroundprimario: #EF476F;
/** background-color: #333; **/
$colorbackgroundsecundario: #FFD166;
/** font-family: 'Merriweather', serif; **/
$fontprincipal: 'Merriweather', serif;
/** font-family: 'Nunito', sans-serif; **/
$fontsecundario: 'Nunito', sans-serif;
/** Colors:
    #06D6A0 verde clarito / font blanco
    #118AB2 celeste / font blanco
    #EF476F coral / font blanco
    #073B4C azul / font negro
    #FFD166 dorado / font blanco
 **/