/** .color-primary-0 { color: #06D6A0 } **/
/** .color-secondary-1-0 { color: #073B4C } **/
/** .color-terciario-2-0 { color: #118AB2 } RGB: 159–0–111**/
/** background-color: #EF476F; **/
/** background-color: #FFD166; **/
/** font-family: 'Bebas Neue', cursive, serif; **/
/** font-family: 'Montserrat Alternates', sans-serif; **/
/** Colors:
    #06D6A0 verde clarito / font blanco
    #118AB2 celeste / font blanco
    #EF476F coral / font blanco
    #073B4C azul / font negro
    #FFD166 dorado / font blanco
 **/

@import "variables";


 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    background-image: linear-gradient(107deg, $colorbackgroundprimario, $colorbackgroundsecundario)
}

html {
    font-size: 62,5%;
}

 /*estilo header / con Bootstrap*/

.navbar-brand {
    font-family: $fontnombre;
}

.nav-item {
    font-family: $fontprincipal;
}

 .bg-light {
    background-color: $colorbackgroundsecundario !important;
 
}

.navbar-brand {
    color: $colorprincipal;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: $colorterciario;
}

header {
    opacity: 0.7;
    z-index: 100;
}

nav a:hover {
    background-color: $colorbackgroundprimario;
    transition: 0.3s;
    cursor: pointer;
}


.main-fotos-titulo {
    display: grid;
    justify-content: center;  
    align-items: center;   
    justify-items: center;   
}
/*
.videos {
    display: grid;
    justify-content: center;  
    align-items: center;   
    justify-items: center;   
}
*/
.texto-bloque {
        padding: 2rem 0rem 1rem 0rem;
}

h4 {
    color: black;
    font-size: 2rem;
}

h3 {
    color: black;
    font-family: $fontsecundario;
}

h2 {
    color: $colorsecundario;
    font-family: $fontprincipal;
    font-style: italic;
}

.form-label {
    font-family: $fontprincipal;
}

.form-select {
    font-family: $fontprincipal;
}

.form-check {
    font-family: $fontprincipal;
}

@import "mediaquery";

.fondo-form {
    background-color: $colorterciario;
    padding: 2rem 6rem;
    margin-bottom: 0;
    margin-top: 6rem;
}