/** .color-primary-0 { color: #065986 } **/
/** .color-secondary-1-0 { color: #D2D000 } **/
/** .color-secondary-2-0 { color: #9F006F } RGB: 159–0–111**/
/** background-color: #ffffff; **/
/** background-color: #333; **/
/** font-family: 'Merriweather', serif; **/
/** font-family: 'Nunito', sans-serif; **/
/** Colors:
    #8ECAE6 celeste clarito / font negro
    #219EBC celeste / font blanco
    #023047 azul / font blanco
    #FFB703 amarillo / font negro
    #FB8500 dorado / font blanco
 **/

 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;

}

body {
    background-image: linear-gradient(107deg, #219EBC,#8ECAE6)
}

html{
    font-size: 62,5%;
}

 /*estilo header*/
 .header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FB8500;
    padding: 8rem 3rem 8rem 3rem;
  }



  /*"text-decoration: none;" es propiedad del enlace "A"*/

.header-flex nav ul li a {
    text-decoration: none;
    font-weight: 400; /*ancho de las letras*/
  }

  .header-flex nav ul li {
    list-style: none;
    display: inline-block;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0 10px 0 10px;
  }


  header {

    height: 4em;
    opacity: 0.7;
    z-index: 100;

}

nav a:hover {
    color: #9F006F;
    background-color: #219EBC;
    transition: 0.3s;
    cursor: pointer;
}

 






.main-fotos {
    display: grid;
  justify-content: center;  
  align-items: center;   
  justify-items: center;   



}

.main-fotos-titulo {
    display: grid;
  justify-content: center;  
  align-items: center;   
  justify-items: center;   



}

.videos {
    display: grid;
    justify-content: center;  
    align-items: center;   
    justify-items: center;   
  
}

.texto-bloque {
    font-family: 'Merriweather', serif;
    padding: 2rem 0rem 1rem 0rem;

}

h4 {
    color: black;
    font-size: 2rem;

}

h3 {
    color: #fff;

}

h2 {

    color: #9F006F;
    font-family: 'Merriweather', serif;
    font-style: italic;


}



@media screen and (min-width: 768px){
    .header-flex {
        padding: 3rem 3rem 3rem 3rem;
    }

    .container__videos {
        
        display: grid;
        grid-template-columns: repeat (1, 1fr);
        grid-template-areas:"titulovid"
                            "video1" 
                             "video2"
                             "video3";
        justify-content: center;  
        align-items: center;   
        justify-items: center;   
       padding: 10px 50px;
        
    }
    
    .titulovid {
        grid-area: titulovid;
    }
    
    .video1 {
        grid-area: video1;
    }
    
    .video2 {
        grid-area: video2;
    }
    
    .video3 {
        grid-area: video3;
    }

    .main-fotos-titulo {
        padding: 10px 50px;
    }

    .main-fotos {
        padding: 10px 50px;
    }

    .main-mapa{
        display: grid;
        grid-template-columns: 1fr 1.2fr 1fr;
        grid-template-areas:". container-mapa . ";
                                      
        grid-auto-flow: row;
        margin: 2rem 0rem;
    
    }
    
    
    
    .container__mapa {
        grid-area: container-mapa;
        display: flex;
        flex-direction: column;
        background-color: #219EBC;
        border-radius: 10px;
    }
    
    .titulo-mapa {
        text-align: center;
    }
    
    .texto-bloque {
        text-align: center;
    }
    
    .mapa {
        display: flex;
        justify-content: center;
        padding: 1rem 0rem;
    }
}

@media screen and (min-width: 1086px){
    .header-flex {
        padding: 5rem 3rem 5rem 3rem;
    }
}

@media screen and (min-width: 1170px){


body {
    background-image: url(../imagenes/fondo.webp)

}


.container__main-fotos-titulo {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-areas:". . . . "
                        ". main main ."
                        ". main main ."
                        ". main main ."
                        ". main main ."
                        ". . . . ."
}



    .container__fotos {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-areas:". . . . "
                        ". main main ."
                        ". main main ."
                        ". main main ."
                        ". . . . ."

}

main {
    grid-area: main;

}

.main-fotos {
        
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
        grid-template-areas:". texto texto texto ."
                            ". img1 img2 img3 ."
                            ". texto2 texto2 texto2 ."
                            ". img4 img5 img6 .";
        grid-auto-flow: row;  
        margin: 10rem 8rem;
        background-color: #219EBC;
        border-radius: 10px;
        
    }

.parrafo1 {
    grid-area: texto;
    padding: 3px;
}

.foto1 {
    grid-area: img1;
    padding: 3px;
}

.foto2 {
    grid-area: img2;
    padding: 3px;
}

.foto3 {
    grid-area: img3;
    padding: 3px;
}

.parrafo2 {
    grid-area: texto2;

}

.foto4 {
    grid-area: img4;
    padding: 3px;
}

.foto5 {
    grid-area: img5;
    padding: 3px;
}

.foto6 {
    grid-area: img6;
    padding: 3px;
}

.main-fotos-titulo {
        
    display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
        grid-template-areas:". . titulo . ."
                            ". texto texto texto ."
                            ". img1 img2 img3 ."
                            ". texto2 texto2 texto2 ."
                            ". img4 img5 img6 .";
        grid-auto-flow: row;  
        margin: 10rem 8rem;
        background-color: #219EBC;
        border-radius: 10px;
    
}

.titulo-main {
    grid-area: titulo;
}

.titulo-main {
    grid-area: titulo;
}

main div img {
    transition: all 0.5s;
    filter: sepia(70%);
}

main div img:hover {
    height: 210px;
    width: 310px;
    filter: none;
    
}


main div iframe {
    transition: all 0.5s;
    filter: sepia(70%);
}

main div iframe:hover {
    height: 210px;
    width: 310px;
    filter: none;
    
}



.container__videos {
        
    display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
        grid-template-areas:". texto texto texto ."
                            ". video1 video2 video3 .";
                            
                            
        grid-auto-flow: row;  
        margin: 10rem 8rem;
        background-color: #219EBC;
        border-radius: 10px;
    
}

.titulovid {
    grid-area: texto;
}

.video1 {
    grid-area: video1;
    padding: 3px;
}

.video2 {
    grid-area: video2;
    padding: 3px;
}

.video3 {
    grid-area: video3;
    padding: 3px;
}

.header-flex {
    padding: 3rem 3rem 3rem 3rem;
}

.header-flex nav ul li {
    padding: 1.5rem;
}

footer {
    background-color: #333;
    height: 30em;
}

.container__footer {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: aliceblue;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #9F006F;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: aliceblue;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
    color: #9F006F;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: aqua;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: aqua;
}



/*estilo contacto*/

.container__contacto {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-areas:". container-main-contacto . "
                        ". container-main-comentario .";
    margin: 2rem 0rem;
}

.container-main-contacto {
    grid-area: container-main-contacto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #219EBC;
    border-radius: 10px;
    margin: 3rem 0rem;
}

.container-main-contacto div {
margin: 1rem 0rem;
}

.container-main-comentario {
    grid-area: container-main-comentario;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #219EBC;
    border-radius: 10px;
    margin: 3rem 0rem;

}




.main-fotos-titulo {
    display: grid;
    justify-content: center;  
    align-items: center;   
    justify-items: center;   
}

.header-flex:hover {
    position: sticky;
}

.titulo-contacto {
    text-align: center;
}

.titulo__mensaje {
    text-align: center;
}

.mapa {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

}